* {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    color: white;
    margin-left: 2rem;
    font-size: xx-large;
}

.nav-link {
    color: #FFFFFF;
}

.fixed-top {
    background-color: #101010;
    margin: 0.3rem;
    border: 3px solid #101010;
    border-radius: 1rem;
}

main {
    background-color: white;
    
}

.ararabots_welcome {
    /* background-color: #101010; */
    color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #cb4b4b, #7e1b1b);

}

.ararabots_quem_somos {
    /* quem_somos */
    color: #FFFFFF;
    background-image: url('/images/teamPhotos/arara2.jpg');
}

footer{
    position: flex;
    background-color: #101010;
    border: 0.8px solid #101010;
}   

.fw-bolder {
    color: #FFFFFF;
    font-size: larger;
}

.bi {
    color: white;
}