* {
    padding: 0;
    margin: 0;
}
.navbar-brand {
    color: white;
    margin-left: 2rem;
    font-size: xx-large;
}

.nav-link {
    color: #FFFFFF;
}

header{
    position: absolute;
    top: 0; left: 0; right: 0;
    background-color: #101010;
    margin: 0.3rem;
    border: 3px solid #101010;
    border-radius: 1rem;
}

main {
    position: flex;
    height: 100%;
    width: 100%;
    margin-top: 10rem;
}

footer{
    position: flex;
    bottom: 0; left: 0; right: 0;
    background-color: #101010;
    border: 0.8px solid #101010;
}   
.bi {
    color: white;
}

.fw-bolder {
    color: #FFFFFF;
    font-size: small;
}


.ararabots_welcome {
    /* background-color: #101010; */
    color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #cb4b4b, #7e1b1b);

}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  