<!--Main Navigation-->


<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="position-relative p-3 p-md-5 m-md-3 text-left">
        <div class="ararabots_welcome fluid row justify-content-between">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <h1 class="display-3 fw-bold">Olá,</h1>
                <h1 class="display-3 fw-bold">Bem-Vindos</h1>
            </div>

            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <img src="images/arara_no_bg.png" alt="AraraBanner" width="480" height="480"
                    style="transform: scaleX(-1)">
            </div>

        </div>
    </div>
</div>

<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="position-relative p-3 p-md-5 m-md-3 text-left">
        <div class="ararabots_welcome fluid bg-gradient-danger row justify-content-between">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <h1 class="display-3 fw-bold">Olá,</h1>
                <h1 class="display-3 fw-bold">Bem-Vindos</h1>
            </div>

            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <img src="images/arara_no_bg.png" alt="AraraBanner" width="480" height="480"
                    style="transform: scaleX(-1)">
            </div>

        </div>
    </div>
</div>

<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="position-relative p-md-5 text-left">
        <div class="ararabots_quem_somos bg-gradient-danger row justify-content-between">
            <p class="fs-2 fw-bold text-center">Quem Somos</p>
            <p class="fs-5 p-3 fw-bold text-break">
                O AraraBots é uma equipe de robótica sediada na Universidade Federal do Mato Grosso do Sul (UFMS),
                nossas principais atividades são participar de competições de robótica e fazer ações e projetos de
                extensão.
                <br><br>
                Dentro da equipe, não só tudo que é projetado e desenvolvido é feito inteiramente pelos alunos, mas
                também toda a gerência de projeto, de mídias sociais e planejamento no geral. Isso cria um ambiente onde
                não só a habilidade técnica é recompensada mas também a proatividade e a responsabilidade. Esse ambiente
                é o que difere o AraraBots de qualquer outro projeto.
                <br><br>
                Durante os 14 anos de equipe, já foram proporcionadas experiências únicas de aprendizado e convívio à
                centenas de alunos da UFMS. Estes alunos puderam sair da universidade com conhecimentos acima do comum
                em eletrônica, mecânica, desenvolvimento de software, inteligência artificial, visão computacional,
                modelagem 3D, trabalho em grupo, gerência de projeto, entre muitas outras áreas.
            </p>
        </div>
    </div>
</div>

{{!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Designed for engineers</h1>
        <h3 class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
                Learn more
                <svg class="bi">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
            <a class="icon-link" href="#">
                Buy
                <svg class="bi">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div> --}}